<div class="d-flex flex-column">
    <div>
        <h2>¡Hasta luego!</h2>
    </div>

    <div class="mt-5">
        <h4>¿Te arrepientes y tienes cuenta? ¡Vuelve!</h4>
        <button onclick="location.href='/login'" class='btn btn-success me-2'>Login</button>
        <hr>
        <h4>¿Te arrepientes y NO tienes cuenta? ¡Creala!</h4>
        <button onclick="location.href='/signup'" class='btn btn-success me-2'>Sign up</button>
    </div>
</div>